@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  p {
    @apply leading-normal text-slate-400/95;
  }

  h1,
  h2,
  h3,
  .icon-hero {
    @apply text-slate-200/95;
  }
}

@theme {
  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
