---
import { getCurrentLang, useTranslations } from '@/i18n/utils';
import FooterLink from '@/components/ui/FooterLink.astro';

const lang = getCurrentLang(Astro.currentLocale);
const t = useTranslations(lang);

const links = [
  {
    href: 'https://astro.build',
    text: 'Astro',
    placeholder: '%astro%'
  },
  {
    href: 'https://vercel.com',
    text: 'Vercel',
    placeholder: '%vercel%'
  },
  {
    href: 'https://brittanychiang.com',
    text: 'brittanychiang.com',
    placeholder: '%inspiration1%'
  },
  {
    href: 'https://porfolio.dev',
    text: 'porfolio.dev',
    placeholder: '%inspiration2%'
  }
];

let footerText = t('footer.text').replace('%year%', new Date().getFullYear().toString());

const parts = footerText.split(/(%\w+%)/);
---

<div>
  <hr
    class="mx-auto h-px w-4/5 border-0 bg-gradient-to-r from-transparent via-slate-500/30 to-transparent"
  />
  <footer class="flex min-h-[100px] items-center justify-center px-4 py-14">
    <p class="mx-auto max-w-2xl text-center text-sm text-slate-500">
      {
        parts.map((part) => {
          const link = links.find((l) => l.placeholder === part);
          if (link) {
            return <FooterLink href={link.href} text={link.text} ariaLabel={link.text} />;
          }
          return part;
        })
      }
    </p>
  </footer>
</div>
