---
import Layout from '@/layouts/Layout.astro';
import { getCurrentLang, useTranslations } from '@/i18n/utils';
import Hero from '@/components/Hero.astro';
import Project from '@/components/sections/Project.astro';

const lang = getCurrentLang(Astro.currentLocale);

const t = useTranslations(lang);
---

<Layout lang={lang} title={t('title')}>
  <main class="mx-auto my-20 max-w-5xl px-6 md:px-11 lg:py-16">
    <Hero t={t} />
    <Project lang={lang} />
  </main>
</Layout>
