---
import Layout from '@/layouts/Layout.astro';
import { getCurrentLang, useTranslations } from '@/i18n/utils';
import Hero from '@/components/sections/Hero.astro';
import Project from '@/components/sections/Project.astro';
import Experience from '@/components/sections/Experience.astro';

const lang = getCurrentLang(Astro.currentLocale);

const t = useTranslations(lang);
---

<Layout lang={lang} title={t('title')}>
  <main class="mx-auto max-w-5xl px-6 lg:px-4 xl:px-0">
    <Hero t={t} />
    <Project lang={lang} t={t} />
    <Experience />
  </main>
</Layout>
