---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<section id={id} class="mb-30 scroll-mt-18">
  <h2 class="mb-8 text-lg font-bold uppercase lg:sr-only">
    {title}
  </h2>
  <slot />
</section>
