---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  icon: typeof import('@/icons/Repository.astro').default;
  text: string;
}

const { icon: Icon, text, ...props } = Astro.props;
---

<a
  {...props}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center gap-2 rounded-lg border border-slate-200/10 px-3 py-1.5 text-xs font-medium text-slate-300 transition-colors hover:border-slate-200/30 hover:text-teal-300"
>
  <Icon class="size-4" />
  {text}
</a>
